    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      font-family: Arial, sans-serif;
      color: white;
      text-align: center;
    }
    .btn-ranking {
      background-image: url('boton.png');
      background-size: cover;
      padding: 10px 20px;
      border: none;
      color: white;
      font-size: 16px;
      margin-top: 10px;
      cursor: pointer;
    }
    
    
  video#bgVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: -1;
      object-fit: cover;
    }
    h1 {
      color: #2e7d32;
      font-size: 4em;
      margin-top: 60px;
    }
  h2 {
    color: #4caf50;
    font-family: 'Verdana', sans-serif;
    text-shadow: 1px 1px 2px #000;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #4caf50;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 250px;
  }
  

    button {
      width: 250px;
      height: 80px;
      font-size: 1.4em;
      margin: 15px;
      border: none;
      border-radius: 15px;
      background-size: cover;
      background-position: center;
      color: white;
      font-weight: bold;
      cursor: pointer;
      text-shadow: 1px 1px 3px black;
    }

    button:hover {
      opacity: 0.9;
      transform: scale(1.05);
      transition: 0.3s;
    }
  
  #opciones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #opciones button {
    width: 200px;
    margin: 5px 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    background-color: #2e7d32;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
  }
  
    input {
      padding: 10px;
      font-size: 1em;
      margin: 10px;
      border-radius: 5px;
      border: none;
    }
    
    .btn-general {
      background-image: url('boton.png');
    }

    .btn-bloques {
      background-image: url('boton.png');
    }

    .btn-mobs {
      background-image: url('boton.png');
    }

    .btn-jugar {
      background-image: url('boton.png');
    }
